.page-title {
  padding: 0px 10px 10px;
}
.misc-content {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-body {
  background-image: url("http://artemsheludko.pw/bef/assets/img/bg_about.jpg"); 
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 5px 20px;
}