@charset "utf-8";
/*基本框架CSS*/
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust:none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
body{color:#333;text-align:center;font:12px "宋体";}
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover{color:#D40000;text-decoration:none}


.hidden{display:none}
.cor_bs,.cor_bs:hover{color:#ffffff;}
.keBody{background:url(../images/bodyBg.jpg) repeat #333;}
.msKeimgBox{margin:0px auto;width:965px;overflow:hidden;position:relative;padding-top:30px;height:93px;}
.msKeimgBox ul{width:1000px;}
.mskeLayBg{background:#000;width:100%;position:absolute;left:0px;top:0px;z-index:10;opacity:0.7;filter:alpha(opacity=70);display:none;_display:none!important }
.mskelayBox{height:488px;width:974px;margin-top:-251px;margin-left:-494px;position:fixed;left:50%;top:50%;border:7px solid #FFF;z-index:20;background:#FFF;display:none;_display:none!important }
.mskeImgBg{height:57px;width:100%;position:absolute;left:0px;bottom:0px;}
.mskeClaose{position:absolute;top:-17px;right:-17px;cursor:pointer;}
.mske_downIco{position:absolute;left:0px;top:0px;}
.mske_imgDown{background:url(../images/mke_imgMbg.png) repeat;height:57px;width:818px;position:absolute;right:0px;bottom:0px;font:13px/57px "微软雅黑";color:#FFF;}
.mske_imgDown a{margin-left:34px;}
.msKeimgBox ul li{float:left;height:93px;margin:0 10px 10px 0;width:185px;cursor:pointer;}
.mskeTogBtn{background:url(../images/mke_moreImg.jpg) no-repeat;height:93px;width:185px;position:absolute;z-index:1;right:0px;cursor:pointer;bottom:0px;}
.mskeTogBtn2{background:url(../images/mke_moreImg2.jpg) no-repeat;bottom:10px;}
.msKeimgBox2{height:auto;}