<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <!-- <span class="site-description">{{site.user_title}}</span> -->
      </h1>
      <p>{{site.user_title}}</p>
      <div class="icons-header">
        <a aria-label="邮箱" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="微博" target="_blank" href="https://weibo.com/{{site.weibo_username}}"><i class="icon fa fa-weibo" aria-hidden="true"></i></a>
        <a aria-label="Instagram" target="_blank" href="https://Instagram.com/{{site.ins_username}}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="false"></i></a>
      </div>
      <!-- <a class="link" href="#about" data-scroll>关于我</a> -->
      <p></p>
      <a class="link" href="#projects" data-scroll>更多</a>
  </div>
  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
