<div class="container">
  <div class="user-details">
    <h3> 瞬间 </h3>
    <p> {{site.user_description}} <p>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="色达佛学院" src="https://img3.doubanio.com/view/photo/lphoto/public/p2456682821.jpg"/>
    </div>
    <div class="six columns">
      <h5> 色达 </h5>
      <li> N31°52′25.50″ E100°43′42.48″ </li>
      <p>世界上最大的佛学院</p>
      <p>2016.12</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="星空" src="https://img3.doubanio.com/view/photo/lphoto/public/p2456684982.jpg" />
    </div>
    <div class="six columns">
      <h5> Fort William </h5>
      <ul>
        <li> N56°49'11.34" W5°6'18.78"</li>
      </ul>
      <p>英国最高峰Ben Nevis脚下的村庄</p>
      <p>2016.03</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
