.cd-top {
    position: fixed;
    right: 1%;
    bottom: -999px;
    z-index: 99999;
    width: 50px;
    height: 60px;
    background: url(/assets/img/top.gif) no-repeat center;
    background-size: contain;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    opacity: 0;
}

.cd-top.cd-is-visible {
    bottom: 8%;
}

.cd-top.cd-fade-out {
    opacity: .85;
}

.cd-top:hover {
    opacity: 1;
}

@media screen and (max-width: 860px) {
    .cd-top {
        height: 40px;
        width: 50px;
        display: none;
    }
}

.cd-top:hover {
    -webkit-animation: btn-pudding 2s linear;
    animation: btn-pudding 2s linear;
}