h2.heading-sm {
	font-size: 18px;
	line-height: 24px;
}
.headline h2 { 
	margin: 0 0 -2px 10px;
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 2px solid #72c02c; 
}
.blocks { 
	max-width: 900px; 
	margin: 0 auto; 
}
ul { 
	-webkit-margin-before: 1em; 
	-webkit-margin-after: 1em; 
	-webkit-margin-start: 0px; 
	-webkit-margin-end: 0px; 
	-webkit-padding-start: 40px; 
}
ul.icon_list li { 
	position: relative; 
	float: left; 
	width: 56px; 
	height: 90px; 
	margin-right: 45px; 
	list-style: none; 
}
ul.icon_list img { 
	width: 48px; 
	height: 48px; 
	padding: 4px; 
	border-radius: 28px; 
}
ul.icon_list span { 
	position: absolute; 
	bottom: 12px; 
	left: 0; 
	display: block; 
	width: 100px; 
	margin-left: -22px; 
	text-align: center; 
	color: #428bca;
}
