---
layout: page
title: GoTo
bookmarks: 
 - name: 网站导航
   link: "http://lackar.com/aa/"
   img: "http://lackar.com/aa/logo.png"
   desc: AnywhereAnything|网站精选
 - name: SeeSeed
   link: "https://www.seeseed.com/"
   img: "https://c1.staticflickr.com/2/1959/43727259790_7548ee33fd_m.jpg"
   desc: 优秀设计网站导航
 - name: 虫部落
   link: "http://magnet.chongbuluo.com/"
   img: "https://c1.staticflickr.com/5/4863/31383343127_e52b0d1a2a.jpg"
   desc: 资源搜索网站集合
 - name: 英文书搜索
   link: "http://gen.lib.rus.ec/"
   img: "https://c1.staticflickr.com/5/4910/46272313152_9b3dae474a.jpg"
   desc: 英文书搜索
 - name: Neets
   link: "https://neets.cc/"
   img: "https://c1.staticflickr.com/2/1944/43727260180_ff54e07fd7_t.jpg"
   desc: 追剧必备
 - name: MacWk
   link: "https://www.macwk.com/"
   img: "https://tse1-mm.cn.bing.net/th/id/OIP-C.TX-23DXiE1z0Bjj4ETqucwBJBJ"
   desc: 精品Mac软件分享
 - name: Radio Garden
   link: "http://radio.garden/live/newcastle-upon-tyne/smoothradionortheast/"
   img: "https://c1.staticflickr.com/2/1928/44819205154_896d35b1b3_m.jpg"
   desc: 全球广播电台
 - name: 大数据导航
   link: "http://hao.199it.com/"
   img: "https://c1.staticflickr.com/2/1972/45494320782_95b827bc7c_s.jpg"
   desc: 大数据导航
blogs:
 - name: 简书
   link: "https://www.jianshu.com/"
   img: "https://www.jianshu.com/favicon.ico"
   desc: 简书创作社区
 - name: 豆瓣
   link: "https://www.douban.com/"
   img: "https://www.douban.com/favicon.ico"
   desc: 文艺青年和伪文艺青年聚集地
 - name: 小木虫
   link: "http://muchong.com/"
   img: "https://c1.staticflickr.com/2/1910/44819206334_fb40c3170b_m.jpg"
   desc: 学术科研互动平台
 - name: 科学网
   link: "http://paper.sciencenet.cn/paper/"
   img: "https://c1.staticflickr.com/65535/48006186407_8d1d6ecd9b_m.jpg"
   desc: 关注最新研究成果
 - name: 人大经济论坛
   link: "http://bbs.pinggu.org/"
   img: "https://c1.staticflickr.com/2/1913/44819205684_71ee6ecbcd_m.jpg"
   desc: 经管类教育问答论坛
 - name: 木工爱好者
   link: "http://www.zuojiaju.com/"
   img: "http://cloud.zoyeal.com/src-zuojiaju.png"
   desc: 木工DIY学习分享
 - name: 人人产品经理
   link: "http://www.woshipm.com/"
   img: "https://c1.staticflickr.com/2/1907/43727259610_34ae22f2c1.jpg"
   desc: 产品爱好者学习交流平台
 - name: 博客大全
   link: "http://daohang.lusongsong.com/"
   img: "https://img1.baidu.com/it/u=2120994876,563180292&fm=26&fmt=auto"
   desc: 优秀独立博客导航
it:
 - name: Apache
   link: "http://www.apache.org/"
   img: "https://c1.staticflickr.com/2/1972/45494320462_1f0e0a2535_m.jpg"
   desc: Apache软件基金会
 - name: CSDN
   link: "https://www.csdn.net/"
   img: "https://c1.staticflickr.com/2/1978/45494320272_62da125ff7.jpg"
   desc: IT博客社区
 - name: W3school
   link: "http://www.w3school.com.cn/"
   img: "https://c1.staticflickr.com/2/1975/45494320032_562a633973.jpg"
   desc: 网站建设参考
 - name: jQuery插件库
   link: "http://www.jq22.com/"
   img: "https://c1.staticflickr.com/2/1909/45494320632_3e719e924f_t.jpg"
   desc: jQuery插件参考
 - name: CodePen
   link: "https://codepen.io/"
   img: "https://c1.staticflickr.com/2/1939/45494320372_6d2c5925cd_m.jpg"
   desc: 前端DEMO参考
 - name: ProcessOn
   link: "https://www.processon.com/"
   img: "https://c1.staticflickr.com/2/1925/44819205854_2ec5468a3b_m.jpg"
   desc: 在线流程图制作
 - name: Awwwards
   link: "https://www.awwwards.com/"
   img: "http://cloud.zoyeal.com/awwwards.ico"
   desc: 创意网站集合
wall: 
 - name: Instagram
   link: "https://www.instagram.com/dcdeng/"
   img: "https://c2.staticflickr.com/2/1972/45494319852_817eb68b3f_o.png"
   desc: 分享精美照片和视频
 - name: Twitter
   link: "https://twitter.com/realDonaldTrump"
   img: "https://c1.staticflickr.com/2/1976/43727259670_ff302409dd_m.jpg"
   desc: 看看川普又在网上Po了什么
 - name: Facebook
   link: "https://www.facebook.com"
   img: "https://c1.staticflickr.com/2/1958/43727260470_4c11e17de6_m.jpg"
   desc: 回国后就基本上不用了
 - name: Reddit
   link: "https://www.reddit.com/"
   img: "https://c1.staticflickr.com/2/1924/43727259930_b6ac31754c_t.jpg"
   desc: Reddit
 - name: Quora
   link: "https://www.quora.com"
   img: "https://c1.staticflickr.com/2/1917/43727259990_443883a14b_m.jpg"
   desc: zhihu's father
 - name: DailyMail
   link: "http://www.dailymail.co.uk/news/worldnews/index.html"
   img: "https://c1.staticflickr.com/2/1966/43727260590_6c73bb0a01.jpg"
   desc: 每日邮报|评论更精彩
 - name: KickStarter
   link: "https://www.kickstarter.com"
   img: "https://c1.staticflickr.com/2/1948/45494319472_47c32cd170_m.jpg"
   desc: 国外众筹平台
 - name: 9GAG
   link: "https://9gag.com/"
   img: "https://c1.staticflickr.com/2/1979/45494320902_4d99c30c07.jpg"
   desc: 有趣搞笑的网站
---

   
<!DOCTYPE html>
<html>
<head>
	<meta content="charset=utf-8">
	<link rel="stylesheet" href="/assets/css/resources.css" type="text/css">
</head>


<body>
	<div class="blocks">
		<div id="category-best-vpn" class="headline sites-group">
			<h2 class="heading-sm">实用书签</h2>
		</div>
		<ul class="icon_list">
			{% for site in page.bookmarks %}
			<li><a href= "{{ site.link }}" target="_blank" rel="nofollow"><img src="{{ site.img }}" title="{{ site.desc }}" ><span>{{ site.name }}</span></a></li>
			{% endfor %}
		</ul>
	</div>
	<table style="clear:both"></table>
	<div class="blocks">
		<div id="category-best-vpn" class="headline sites-group">
			<h2 class="heading-sm">社区论坛</h2>
		</div>
		<ul class="icon_list">
			{% for site in page.blogs %}
			<li><a href= "{{ site.link }}" target="_blank" rel="nofollow"><img src="{{ site.img }}" title="{{ site.desc }}" ><span>{{ site.name }}</span></a></li>
			{% endfor %}
		</ul>
	</div>
	<table style="clear:both"></table>
	<div class="blocks">
		<div id="category-best-vpn" class="headline sites-group">
			<h2 class="heading-sm">墙外</h2>
		</div>
		<ul class="icon_list">
			{% for site in page.wall %}
			<li><a href= "{{ site.link }}" target="_blank" rel="nofollow"><img src="{{ site.img }}" title="{{ site.desc }}" ><span>{{ site.name }}</span></a></li>
			{% endfor %}
		</ul>
	</div>
	<table style="clear:both"></table>
	<div class="blocks">
		<div id="category-best-vpn" class="headline sites-group">
			<h2 class="heading-sm">IT.</h2>
		</div>
		<ul class="icon_list">
			{% for site in page.it %}
			<li><a href= "{{ site.link }}" target="_blank" rel="nofollow"><img src="{{ site.img }}" title="{{ site.desc }}" ><span>{{ site.name }}</span></a></li>
			{% endfor %}
		</ul>
	</div>
	<br>
</body>
</html>
