<!doctype html>
<html>
<head>
	<!-- <link rel="shortcut icon" href="http://zoyeal.com/favicon.ico" type="image/x-icon" /> -->
</head>
<body background="https://c1.staticflickr.com/2/1904/43744789600_05be868191_k.jpg" style=" 
	background-repeat:no-repeat ;
	background-size:100% 100%; 
	background-attachment: fixed;" >
	{% include head.html %}
	<div class="container">
		{% include header.html %}
		<div class="posts-wrapper">
		  {{ content }}
		</div>
		<div style="clear:both">{% include footer.html %}</div>
	</div>
</body>
</html>
